
.header_menu li{
  margin-right: 20px;
}
.header_menu a{
  color: azure;
  text-decoration: none;
  transition:all .5ms;
}
.header_menu a.active{
  text-decoration:underline;
}
.product_card{
  margin-bottom: 35px;
}
.product_card img{
  min-width: 350px !important;
}
.product-form{
  width: 800;
  max-width: 100%;
  margin:50px auto;
  border: 1px solid #000;
  padding:20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}